/* Tags */

body {
  margin: 0;
  text-align: center;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-width: thick;
  border-color: grey;
}
a{
    color: #3cb0fd;
    margin: 10px 20px;
  font-weight: bold;
text-decoration: none;}
a:hover{
  color: #EAF6F6;
}


/* RANdom TEXT */
.hello{
  font-family: 'Pacifico', cursive;
}
.skillh1 {
  padding-bottom: 13px;
  color: #1cc5dc;
  font-size: xx-large;
  font-family: 'Open Sans', sans-serif;

}
.shubham {
  font-size: 50px;
  margin-top: 50px;
  font-family: 'Pangolin', cursive;
  line-height: 2;
}

.aboutme {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.aboutmecontact {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  width: 50%;
  margin: 40px auto;
}

.lastpara{
  color: #334443;
  font-size: 0.84rem;
  padding: 20px 0;
}
/* PAge division */

.topcont {
  background-color: #1cc5dc;
  position: relative;
  padding-top: 100px;
}

.profile {
  font-weight: bold;
  font-size: 35px;
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 40px auto;
  text-align: left;
  line-height: 2;
}

.skills {
  padding-top: 70px;
  padding-bottom: 70px;
}

.contact-me {
  padding-top: 20px;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 60px;
}

.bottom-container {
  background-color: #98ddca;
  margin: 0;
  padding: 50px 0 20px;
}

/* Images */

.dp {
  border-radius: 50%;
  height: 250px;
  width: auto;
}

.flatdp {
  width: auto;
  height: 100px;
  position: absolute;
  left: 50px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
}

.flatdp:hover {
  BACKGROUND: BLACK
}

.bcloud {
  width: auto;
  height: 130px;
  position: absolute;
  left: 240px;
  bottom: 430px;
}

.ucloud {
  width: auto;
  height: 130px;
  position: absolute;
  right: 250px;
  top: 20px;
}

.m {
  width: 1490px;
  height: 440px;
  padding-top: 40px;
}

.dpp {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.dpp2 {
  width: 20%;
  float: right;
  margin-left: 30px;
}

/* Copied and pasted */

.btn {
  background: #3434d9;
  background-image: -webkit-linear-gradient(top, #3434d9, #402bb8);
  background-image: -moz-linear-gradient(top, #3434d9, #402bb8);
  background-image: -ms-linear-gradient(top, #3434d9, #402bb8);
  background-image: -o-linear-gradient(top, #3434d9, #402bb8);
  background-image: linear-gradient(to bottom, #3434d9, #402bb8);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 11px 17px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
